<!--The whole content below can be removed with the new code.-->
<h1>{{title}}</h1>
<h2> My Attractions </h2>
<div>
  <label> ID: {{attraction.id}}</label><br>
  <label>Name: </label><input [(ngModel)]="attraction.name" placeholder="Name"/><br/>
  <label>Latitude: </label><input [(ngModel)]="attraction.location.latitude" placeholder="Latitude"/><br/>
  <label>Longitude: </label><input [(ngModel)]="attraction.location.longitude" placeholder="Longitude"/><br/>
  <label>Street: </label><input [(ngModel)]="attraction.location.route" placeholder="Street"/><br/>
  <label>City: </label><input [(ngModel)]="attraction.location.city" placeholder="City"/><br/>
  <label>State / Province: </label><input [(ngModel)]="attraction.location.state" placeholder="State"/><br/>
  <label>Country: </label><input [(ngModel)]="attraction.location.country" placeholder="Country"/><br/>
  <label>Attraction Type: </label><input [(ngModel)]="attraction.type" placeholder="Attraction Type"/><br/>
  <label>Recommended Duration (minutes): </label><input [(ngModel)]="attraction.recommended_duration" placeholder="Minutes"/><br/>
  <label>Rating: </label><input [(ngModel)]="attraction.rating" placeholder="Rating"/><br/>
  <button (click)="onSubmit(attraction)"> Submit </button>
</div>
<div ng-if="arrayAtt">
  <h2>List Of Attractions</h2>
  <ol>
    <li *ngFor="let att of arrayAtt | async">
      <label> ID: {{att.$key}}</label><br>
      <label> Vicinity: {{att.vicinity}}</label><br>
      <label>Name: </label><input [(ngModel)]="att.name" placeholder="Name"/><br/>
      <label>Latitude: </label><input [(ngModel)]="att.location.latitude" placeholder="Latitude"/><br/>
      <label>Longitude: </label><input [(ngModel)]="att.location.longitude" placeholder="Longitude"/><br/>
      <label>Street: </label><input [(ngModel)]="att.location.route" placeholder="Street"/><br/>
      <label>City: </label><input [(ngModel)]="att.location.city" placeholder="City"/><br/>
      <label>State / Province: </label><input [(ngModel)]="att.location.state" placeholder="State"/><br/>
      <label>Country: </label><input [(ngModel)]="att.location.country" placeholder="Country"/><br/>
      <label>Attraction Type: </label><input [(ngModel)]="att.type" placeholder="Attraction Type"/><br/>
      <label>Recommended Duration (minutes): </label><input [(ngModel)]="att.recommended_duration" placeholder="Minutes"/><br/>
      <label>Rating: </label><input [(ngModel)]="att.rating" placeholder="Rating"/><button (click)="onUpdate(att)"> Delete </button>
      <label *ngFor="let tag of att.tags" >
        <span ng-if="tag !== 'x'">
          # {{tag}}
        </span>
      </label><br/>
      <input [(ngModel)]="aTag" placeholder="Tag"/><button (click)="onAddTag(att, aTag)">Add Tag</button><br/>
      <button (click)="onUpdate(att)"> Save </button><button (click)="onDelete(att)"> Delete </button>
    </li>
  </ol>
</div>

